/*comum a todos os arquivos css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Estilo do body */
body {
    background-color: #0D1C2E;
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

/* Estilo do h1, diferente dos outros*/
h1 {
    text-align: center;
    margin-top: 10px;
    color: #87EBFF;
    font-weight: 700;
    font-size: 18px; /*utilizar media query para adaptar para computador*/
}

/* Gradiente do rodapé */
.footer-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #013B5B, #0D1C2E);
    z-index: -1;
}

/*parte exclusiva do sign-up*/

/*estilo do 'H' no h1*/
.destaque {
    color: #F1C40F; /* Altere para a cor que você preferir */
}


.nome{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.login{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #87EBFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border-radius: 50%;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#name, #email, #password, #password2{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    padding-left: 10px;
    border-bottom: #87EBFF 0.4px solid;
    background-color: #0D1C2E;
    font-family: inherit;
    font-size: 16px;
}

#name::placeholder, #email::placeholder, #password::placeholder, #password2::placeholder{
    color: #87EBFF;
}

#name:focus, #email:focus, #password:focus, #password2:focus{
    outline: none;
    border-bottom: #F1C40F 0.4px solid;
    background-color: #0f2035;
    color: #87EBFF;
}

#submit{
    
    border: #F1C40F 1px solid;
    background-color: #0D1C2E;
    border-radius: 32px;
    width: 310px;
    height: 55px;
    margin-top: 20px;
    color: #F1C40F;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

#submit:hover{
    background-color: #F1C40F;
    color: #0D1C2E;
}


