.carousel-container {
    position: relative;
    overflow: hidden;
    width: calc(100% - 40px);
    /* Reduz a largura para acomodar as setas de rolagem */
    margin: 20px 0;
    border: 1px solid #ccc;
    /* Adicionado para destacar a área do carrossel */
    border-radius: 5px;
    /* Adicionado para suavizar as bordas */
}

.carousel {
    display: flex;
    width: 100%;
}

.day {
    flex: 0 0 100px;
    height: 140px;
    /* Aumentei a altura para acomodar o texto abaixo */
    border: 1px solid #ccc;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    /* Alterado para exibir o texto abaixo do dia */
    justify-content: center;
    align-items: center;
    font-size: 16px;
    /* Reduzi o tamanho da fonte para caber melhor */
    cursor: pointer;
}

.selected {
    background-color: #ffcc00;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #ccc;
    cursor: pointer;
    z-index: 1;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.task-info {
    margin-top: 10px;
    font-size: 14px;
    /* Reduzi o tamanho da fonte para caber melhor */
    text-align: center;
    /* Centraliza o texto */
}