* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #0D1C2E;
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #e4e0e0;
    font-size: 1.3rem;
}

.title {
    text-align: center;
    margin-top: 120px;
}

.footer-gradient {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Altura do gradient no final da página */
    background-image: linear-gradient(to top, #013B5B, #0D1C2E); /*gradient de baixo pra cima*/
}