/* Reset de estilos e box-sizing */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Estilo do body */
body {
    background-color: #0D1C2E;
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

/* Cabeçalho */
header {
    color: #FFFFFF;
    padding: 5px;
    text-align: center;
    font-size: 1rem;
}

/* Barra de navegação */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:auto;
    z-index: 1;
}



.navbar ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    background-color: rgba(27, 27, 27, 0.86);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 0;
    /*height: 100vh; !!!!!!!*/
    transition: height 0.3s ease-out;

    overflow: hidden;
    pointer-events: all; /* Habilita interação !!!!!!!*/
}

.navbar .menu-btn {
    display: none; /* Esconder checkbox padrão */
} 

.navbar .menu-btn:checked ~ ul {
    max-height: 100vh; /* Mostra o menu quando o botão está checado */
}

.navbar li {
    margin: 10px 0;
}

.navbar li a {
    display: flex;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.navbar li img {
    margin-right: 10px;
}

.navbar ul a:hover {
    background-color: rgba(56, 54, 54, 0.5);
}

.navbar .menu-icon {
    /*padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;*/
    padding: 28px 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #0D1C2E;
    z-index: 2;
    transition: background-color 0.2s ease-out;
}

.navbar .menu-icon .nav-icon {
    background-color: #FFFFFF;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background 0.2s ease-out;
}

.navbar .menu-icon .nav-icon:before,
.navbar .menu-icon .nav-icon:after {
    background: #FFFFFF;
    content: " ";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
}

.navbar .menu-icon .nav-icon:before {
    top: 5px;
}

.navbar .menu-icon .nav-icon:after {
    top: -5px;
}

.navbar .menu-btn {
    display: none;
}

.navbar .menu-btn:checked ~ .menu {
    /*max-height: 100vh;*/
    max-height: 100%;
    
}

.navbar .menu-btn:checked ~ .menu-icon {
    background-color: rgba(27, 27, 27, 0.86);
}

.navbar .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.navbar .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.navbar .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

.navbar .menu-btn:checked ~ .navbar ~ header {
    background-color: rgba(27, 27, 27, 0.86);
}

.navbar .menu-btn:checked ~ .menu-btn {
    background: #FFFFFF;
}


/* Estilo do h1 */
h1 {
    text-align: center;
    margin-top: 40px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px; /*utilizar media query para adaptar para computador*/
}

/* Contêiner do carrossel */
/*#carousel-container {
    display: block;
    margin: 0 auto;
}*/

/* Botões */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 50%;
    min-width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    border: #83E5F8 1px solid;
    border-radius: 5px;
    background-color: #0D1C2E;
}

#day, #week, #month, #year {
    flex: 1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0);
    font-family: "Istok Web", sans-serif;
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
}

#week, #month, #year {
    border-left: #83E5F8 1px solid;
}

#day:hover, #week:hover, #month:hover, #year:hover {
    background-color: #ffcc00;
    color: #0D1C2E;
}

/* Contêiner principal, abrange a tela toda */
#carousel-container {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 10px;

}

#chart-container{
    height: 30vh;
}

#chart{
    /*font-family: inherit;*/
    color: #FFFFFF!important;

}
/* Contêiner do gráfico */
#chartRing {
    width: 70%;
    height: 30vh;
}

/* Contêiner do dropdown */
#dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-top: 10px;
    margin-left: 5%;
    max-width: 50%;
    border-color: #83E5F8;
}

#month-select {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 4px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #0D1C2E;
    color: #e4e0e0;
    border: 1px solid #83E5F8;
    cursor: pointer;
}

#month-select:hover {
    background-color: #ffcc00;
    color: #0D1C2E;
}

select {
    background-color: #0D1C2E;
    color: #e4e0e0;
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
}

/* Gradiente do rodapé */
.footer-gradient {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #013B5B, #0D1C2E);
}
