<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="../assets/css/signup.css">
</head>
<body>
    <form action="register">
        <div class="nome">
            <img src="../assets/images/logo_HabitEase.svg" alt="Logo HabitEase">
            <h1>Habit<span class="destaque">Ease</span></h1>
        </div>
        <div class="form">
            <input type="text" name="name" id="name" placeholder="Name">
            <input type="text" name="email" id="email" placeholder="Email@email.com">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="password" name="password2" id="password2" placeholder="Confirm Password">
        </div>
        
        <button type="submit" id="submit">Sign Up</button>
        
        <a href="login.html" class="login">Already have an account?</a>
    </form>
    <footer class="footer-gradient"></footer>
    <script src="../assets/js/signup.js"></script>
</body>
</html>
