<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Change</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jersey+20&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>

    </header>
    <main>
        <section class="container-type-text">
            <h1>Type your text</h1>
        </section>
        <section class="container-text">
            <div class="container-p">
                <p>Add your text</p>
            </div>
            <div class="container-button">
                <button class="add">
                    <img src="/assets/images/plus_icon.svg" alt="">
                </button>
            </div>
        </section>
        <section class="container-select-completion">
            <h1>Select the completion</h1>
        </section>
        <section class="container-select">
            <div class="container-p">
                <p>There is completion time?</p>
            </div>
            <div class="switch" id="switchButton">    
                <input type="checkbox" id="switch" />
                <label for="switch">Toggle</label>               
            </div>
           
        </section>
        <section class="add-button">
            <button class="add" id="addBtn">Done</button>
        </section>

    </main>
    <footer class="footer-gradient"></footer>
    <script src="/assets/js/script.js"></script>
</body>
</html>