<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Change</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jersey+20&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>

    </header>
    <main>
        <section class="container-type-text">
            <h1>Type your text</h1>
        </section>
        <section class="container-text">
            <div class="container-title-btn">
                <div class="container-p">
                    <textarea id="textTitle">Add your title</textarea>
                </div>
                <div class="container-button">
                    <button class="add" id="addText">
                        <img id="imgBtn" src="/assets/images/plus_icon.svg" alt="">
                    </button>
            </div>
            </div>
        </section>
        <section class="container-select-completion">
            <h1>Select the completion</h1>
        </section>
        <section class="container-select">
            <div class="container-p">
                <p>The task has a defined time?</p>
            </div>
            <div class="switch" id="switchButton">    
                <input type="checkbox" id="switch" />
                <label for="switch">Toggle</label>               
            </div>
            
           
        </section>
        </section>
        <section class="completed-task" id="completedTask">
            <div class="container-paragraph">
                <p>Was the task completed?</p>
            </div>
            <div class="switch2" id="switchButton2">    
                <input type="checkbox" id="switchBtn2" />
                <label for="switchBtn2">Toggle</label>               
            </div>
        
        </section>
        
        <section class="add-button">
            <button class="add" id="addBtn">Done</button>
        </section>

    </main>
    <footer class="footer-gradient"></footer>
    <script type="module" src="/assets/js/script.js"></script>
</body>
</html>