<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burndown</title>
    <link rel="stylesheet" href="../assets/css/burnchart.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="../assets/js/chart.js"></script> <!-- Script para gerar o gráfico -->
</head>
<body>
    <div class="container">
        <h1>Burndown</h1>
        <div class="canvas-container">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div class="buttonShow">
        <button id="durationCalc">Mostrar duração</button>
    </div>
    
    <div class="tasks" id="tasks">
            
    </div>
    <footer class="footer-gradient"></footer>
</body>
</html>
