<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Image</title>
    <link rel="stylesheet" href="../assets/css/caption.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jersey+20&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>

    </header>
    <main class="conatainer">

        <section class="photo"></section>
        <div class="container">
            <div>
                <form>
                    <div class="omrs-input-group">
                        <label class="omrs-input-underlined">
                          <input required maxlength="35" class="inputText">
                          <span class="omrs-input-label">Caption</span>
                    </div>
                </form>
            </div>
        </div>
        <div class="button">
            <a href="./social.html">
                <button type="button" class="share">Share</button>
            </a>
        </div>

              
              
    </main>
          
          

    <script  type="module" src="../assets/js/writeCaption.js"></script>
</body>
</html>