<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add_Habits</title>
    <link rel="stylesheet" href="../assets/css/categorySelection.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jersey+20&display=swap" rel="stylesheet">
    
</head>
<body >
    <main>
        <section class="title">
            <h1>Select a category</h1>
        </section>
        <section class="container-category">
            <div class="card">
                <a href="#">
                    <div class="card-sport">
                        <div class="sport">
                            <img src="../assets/images/dumbbell.png" alt="A dumbbel icon representing sports">
                        </div>
                        <p>Sports</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <div class="card-art">
                        <div class="art">
                            <img src="../assets/images/art.png" alt="An pencil icon representing art">
                        </div>
                        <p>Art</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <div class="card-health">
                        <div class="health">
                            <img src="../assets/images/health.png" alt="A pill icon representing health">
                        </div>
                        <p>Health</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <div class="card-work">
                        <div class="work">
                            <img src="../assets/images/work.png" alt="A bag icon representing health">
                        </div>
                        <p>Work</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <div class="card-nutrition">
                        <div class="nutrition">
                            <img src="../assets/images/nutrition.png" alt="An apple icon representing nutrition">
                        </div>
                        <p>Nutrition</p>
                    </div>
                </a>
                </div>
                <div class="card">
                    <a href="#">
                        <div class="card-home">
                            <div class="home">
                                <img src="../assets/images/home.png" alt="A house icon representing home">
                            </div>
                            <p>Home</p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#">
                        <div class="card-study">
                            <div class="study">
                                <img src="../assets/images/study.png" alt="A hat icon representing study">
                            </div>
                            <p>Study</p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#">
                        <div class="card-badHabit">
                            <div class="badHabit">
                                <img src="../assets/images/bad-habit.png" alt="A x icon representing bad habit">
                            </div>
                            <p>Bad Habit</p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#">
                        <div class="card-entertainment">
                            <div class="entertainment">
                                <img src="../assets/images/entertainment.png" alt="A mask icon representing entertainment">
                            </div>
                            <p>Entertainment</p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#">
                        <div class="card-read">
                            <div class="read">
                                <img src="../assets/images/read.png" alt="A book icon representing read">
                            </div>
                            <p>Read</p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#">
                        <div class="card-finance">
                            <div class="finance">
                                <img src="../assets/images/finance.png" alt="A cipher icon representing read">
                            </div>
                            <p>Finance</p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#">
                        <div class="card-other">
                            <div class="other">
                                <img src="../assets/images/puzzle.png" alt="A puzzle icon representing read">
                            </div>
                            <p>Other</p>
                        </div>
                    </a>
                </div>
        </section>
    </main>

    <footer class="footer-gradient"></footer>
    <script type="module" src="../assets/js/categorySelection.js"></script>
</body>
</html>