<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    <link rel="stylesheet" href="../assets/css/comments.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jersey+20&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <h2>Comments</h2>
    </header>
    <main>
        <section class="comments-container"></section>
            <section class="input-comment">
                <div class="container">
                    <div>
                        <form>
                            <div class="omrs-input-group">
                                <label class="omrs-input-underlined">
                                <input required maxlength="35" class="inputText">
                                <span class="omrs-input-label">Write your comment</span>
                            </div>
                        </form>
                    </div>
                </div>
            <div class="button">
                <button type="button" class="share">Send</button>
            </div>
        </section>
    </main>
    <script  type="module" src="../assets/js/comments.js"></script>
</body>
</html>