<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jersey+20&display=swap" rel="stylesheet">  
</head>
<body>
    <header>
        <section class="logo">
            <div class="logo-img">
                <img src="../assets/images/logoHabitR.jpeg" alt="Logo HabitR">
            </div>
            <div class="name-HabitR">
                <p class="H">H</p><p class="abitR">abitR</p>
            </div>
        </section>
    </header>
    <main>
        <div class="container">
            <div>
                <form>
                    <div class="omrs-input-group">
                        <label class="omrs-input-underlined">
                            <input required maxlength="35" class="email">
                            <span class="omrs-input-label">Email</span>
                    </div>
                </form>
            </div>
        </div>
        <div class="container">
            <div>
                <form>
                    <div class="omrs-input-group">
                        <label class="omrs-input-underlined">
                        <input required maxlength="35" class="password" type="password">
                        <span class="omrs-input-label">Password</span>
                    </div>
                </form>
            </div>
        </div>
        <section class="button">
            <a href="#" class="link-button">
                <button type="button" class="button-login">Log in</button>
            </a>
        </section>
        <section class="container-signup">
            <p>ARE YOU ALREADY REGISTERED? </p>
            <a href="signup.html" class="signup">
                <p>SIGN UP</p>
            </a>
        </section>
    </main>
    <footer class="footer-gradient"></footer>
    <script type="module" src="../assets/js/login.js"></script>
</body>
</html>