<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media</title>
    <link rel="stylesheet" href="../assets/css/post.css">
    <link rel="stylesheet" href="../assets/css/ranking.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jersey+20&display=swap" rel="stylesheet">  
</head>
<body>
    <header></header>
    <main class="container">
        <section class="rank">
            <div class="carousel" id="carouselExampleControls">
                <div class="carousel-inner" id="carousel-inner"></div>
            </div>
        </section>
        <section class="content-post"></section>
    </main>
    <footer class="footer-gradient">
        <div class="container-button">
            <a href="./selectImage.html">
                <button class="add" id="addText">
                    <img id="imgBtn" src="../assets/images/plus_icon.svg" alt="">
                </button>
            </a>
            
        </div>
    </footer>
    <script type="module" src="../assets/js/rank.js"></script>
    <script type="module" src="../assets/js/social.js"></script>
</body>
</html>
