<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quando</title>
    <link rel="stylesheet" href="../assets/css/when.css">
</head>
<body>
    <h2>When do you want to do it?</h2>
    <section class="when-section">
        <div class="input-group">
            <label class="texto" for="start-date">Start date</label>
            <input type="date" id="start-date">
        </div>
        <div class="input-group">
            <label class="texto" for="end-date">End date</label>
            <input type="date" id="end-date">
        </div>
        <div class="input-group">
            <label class="texto" for="priority">Priority</label>
            <section class="container-select">
                <div class="switch" id="switchButton">    
                    <input type="checkbox" id="switch">
                    <label for="switch">Toggle</label>               
                </div>
            </section>
        </div>
    </section>
    
    <section class="next-button">
        <button class="next" id="nextBtn">Next</button>
    </section>
    
    <footer class="footer-gradient w-100"></footer>

    <script src="../assets/js/when.js"></script>
</body>
</html>
